In [ ]:
#Python Lists

#There are four collection data types in the Python programming language:

#List is a collection which is ordered and changeable. Allows duplicate members.
#Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#Dictionary is a collection which is ordered** and changeable. No duplicate members.

#Python Lists

#List
Lists are used to store multiple items in a single variable.

Lists are one of 4 built-in data types in Python used to store collections of data, the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets:

#Example
#Create a List:

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z"]
print(MSC_Stu_Name)

['X', 'Y', 'Z']

#List Items
#List items are ordered, changeable, and allow duplicate values.

List items are indexed, the first item has index [0], the second item has index [1] etc.

#Ordered
When we say that lists are ordered, it means that the items have a defined order, and that order will not change.

If you add new items to a list, the new items will be placed at the end of the list.

#Changeable
The list is changeable, meaning that we can change, add, and remove items in a list after it has been created.

#Allow Duplicates
Since lists are indexed, lists can have items with the same value:

In [ ]:
#Example
#Lists allow duplicate values:
MSC_Stu_Name = ["X", "Y", "Z","Z"]
print(MSC_Stu_Name)

['X', 'Y', 'Z', 'Z']

#Changeable

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z"]
MSC_Stu_Name[3]="P"
print(MSC_Stu_Name)

['X', 'Y', 'Z', 'P']

#List Length
To determine how many items a list has, use the len() function:

#Example
Print the number of items in the list:

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z"]
print(len(MSC_Stu_Name))

4

#List Items - Data Types
#List items can be of any data type:

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z",1,2.4]
print(MSC_Stu_Name)

['X', 'Y', 'Z', 'Z', 1, 2.4]

#type()
From Python's perspective, lists are defined as objects with the data type 'list':

#Example
#What is the data type of a list?

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z",1,2.4]
print(type(MSC_Stu_Name))

<class 'list'>

#Python List Functions
Method	Description
append()	Adds an element at the end of the list

clear()	Removes all the elements from the list

copy()	Returns a copy of the list

count()	Returns the number of elements with the specified value

extend()	Add the elements of a list (or any iterable), to the end of the current list

index()	Returns the index of the first element with the specified value

insert()	Adds an element at the specified position

pop()	Removes the element at the specified position

remove()	Removes the first item with the specified value

reverse()	Reverses the order of the list

sort()	Sorts the list

#append()	Adds an element at the end of the list

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name.append("S")
print(MSC_Stu_Name)

['X', 'Y', 'Z', 'Z', 1, 2.4, 'S']

#copy()	Returns a copy of the list

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z",1,2.4]
x = MSC_Stu_Name.copy()
x

['X', 'Y', 'Z', 'Z', 1, 2.4]

#count()	Returns the number of elements with the specified value

In [ ]:
MSC_Stu_Name = ["X", "Y", "Z","Z",1,2.4]
print(MSC_Stu_Name.count("Z"))

2

#extend()	Add the elements of a list (or any iterable), to the end of the current list

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name2 = ["X", "Y", "Z","Z",1,2 ]
MSC_Stu_Name1 .extend(MSC_Stu_Name2)
print(MSC_Stu_Name1)

['X', 'Y', 'Z', 'Z', 1, 2.4, 'X', 'Y', 'Z', 'Z', 1, 2]

#index()	Returns the index of the first element with the specified value

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
x = MSC_Stu_Name1.index("Y")
x

1

#Note: The index() method only returns the first occurrence of the value.

#insert()	Adds an element at the specified position

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name1.insert(1, "MKKK")
MSC_Stu_Name1

['X', 'MKKK', 'Y', 'Z', 'Z', 1, 2.4]

#pop()	Removes the element at the specified position

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name1.pop(1)
MSC_Stu_Name1

['X', 'Z', 'Z', 1, 2.4]

#remove()	Removes the first item with the specified value

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name1.remove("Z")
MSC_Stu_Name1

['X', 'Y', 'Z', 1, 2.4]

#Python List reverse() Method
#The reverse() method reverses the sorting order of the elements.

In [ ]:
MSC_Stu_Name1 = ["X", "Y", "Z","Z",1,2.4]
MSC_Stu_Name1.reverse( )
MSC_Stu_Name1

[2.4, 1, 'Z', 'Z', 'Y', 'X']

#sort() method
Definition and Usage
The sort() method sorts the list ascending by default.

we can also make a function to decide the sorting criteria(s).

In [ ]:
MSC_Stu_Name1 = [1,6,9,4]
MSC_Stu_Name1.sort()
MSC_Stu_Name1

[1, 4, 6, 9]