#Python Sets

#Set
#Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

* Note: Set items are unchangeable, but you can remove items and add new items.

Example
Create a Set:

In [ ]:
Class_DSA = {"Mtech", "MSC", "MBA"}

#Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

#Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

#Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

#Duplicates Not Allowed
Sets cannot have two items with the same value.

Example
Duplicate values will be ignored:

In [ ]:
Class_DSA = {"Mtech", "MSC", "MBA","MBA","MBA"}
Class_DSA

{'MBA', 'MSC', 'Mtech'}

#Get the Length of a Set
To determine how many items a set has, use the len() function.

#Example
Get the number of items in a set:

In [ ]:
Class_DSA = {"Mtech", "MSC", "MBA","MBA","MBA"}
print(len(Class_DSA))

3

#Set Items - Data Types
Set items can be of any data type:

Example
String, int and boolean data types:

In [ ]:
Class_DSA = {"Mtech", "MSC", 2,"MBA","MBA",4.0}
print( Class_DSA)

{2, 4.0, 'MBA', 'MSC', 'Mtech'}

#Python - Access Set Items

#Access Items
We cannot access items in a set by referring to an index or a key.

But we can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

Example
Loop through the set, and print the values:

In [ ]:
Class_DSA1 = {"Mtech","MSC","MBA",4,4.0,"MBA"}
for x in Class_DSA1:
  print(x)

4
MSC
Mtech
MBA