#Tuple
Tuples are used to store multiple items in a single variable.

 A tuple is a collection which is ordered and unchangeable.


Tuples are written with round brackets.

#Allow Duplicates
Since tuples are indexed, they can have items with the same value:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(MSC_Stu_Name)

('X', 'Y', 'Z', 'Z')

#Tuple Length
To determine how many items a tuple has, use the len() function:

Example
Print the number of items in the tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(len(MSC_Stu_Name))

4

#Create Tuple With One Item
To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

#Example
One item tuple, remember the comma:

In [ ]:
MSC_Stu_Name = ("X",)
print(type(MSC_Stu_Name))

#NOT a tuple
MSC_Stu_Name = ("X")
print(type(MSC_Stu_Name))

<class 'tuple'>
<class 'str'>

#Tuple Items - Data Types
Tuple items can be of any data type:

#Example
String, int and boolean data types:

In [ ]:
tuple1 = ("abc", 34, True, 40, "male")

In [ ]:
tuple1

('abc', 34, True, 40, 'male')

#Access Tuple Items

Example
Print the second item in the tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(MSC_Stu_Name[1])

Y

#Negative Indexing
Negative indexing means start from the end.

-1 refers to the last item, -2 refers to the second last item etc.

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(MSC_Stu_Name[-2])

Z

#Range of Indexes
We can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new tuple with the specified items.

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(MSC_Stu_Name[2:4])

('Z', 'Z')

#Range of Negative Indexes
Specify negative indexes if you want to start the search from the end of the tuple:

#Example
This example returns the items from index -4 (included) to index -1 (excluded)

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
print(MSC_Stu_Name[-4:-1])

('X', 'Y', 'Z')

#Check if Item Exists
To determine if a specified item is present in a tuple use the in keyword:

#Example
Check if "X" is present in the tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
if "X" in MSC_Stu_Name:
  print("Yes, 'X' is in the Stu Name")

Yes, 'X' is in the Stu Name

#Change Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. we can convert the tuple into a list, change the list, and convert the list back into a tuple.

#Example
Convert the tuple into a list to be able to change it:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
y = list(MSC_Stu_Name)
y[1] = "kiwi"
x = tuple(y)
print(x)

('X', 'kiwi', 'Z', 'Z')

#Add Items
Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

1. Convert into a list: Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple.

Example
Convert the tuple into a list, add "Q", and convert it back into a tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
y = list(MSC_Stu_Name)
y.append("Q")
thistuple = tuple(y)
thistuple

('X', 'Y', 'Z', 'Z', 'Q')

#Add tuple to a tuple. You are allowed to add tuples to tuples, 

#so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple:

#Example
Create a new tuple with the value "Q", and add that tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
y =  ("Q",)
MSC_Stu_Name+= y 
print(MSC_Stu_Name)

('X', 'Y', 'Z', 'Z', 'Q')

#Remove Items
Note: We cannot remove items in a tuple.

Tuples are unchangeable, so you cannot remove items from it, but you can use the same workaround as we used for changing and adding tuple items:

Example
Convert the tuple into a list, remove "X", and convert it back into a tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
y = list(MSC_Stu_Name)
y.remove("X")
MSC_Stu_Name = tuple(y)
print(MSC_Stu_Name)

('Y', 'Z', 'Z')

we can delete the tuple completely:

Example
The del keyword can delete the tuple completely:

In [ ]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: ignored

#Python - Unpack Tuples

#Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

Example
Packing a tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")

But, in Python, we are also allowed to extract the values back into variables. This is called "unpacking":
#Example
Unpacking a tuple:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")

(P, Q, R,S) = MSC_Stu_Name 

print(P)
print(Q)
print(R)

X
Y
Z

#Note: The number of variables must match the number of values in the tuple, if not, you must use an asterisk to collect the remaining values as a list.

#Using Asterisk*
If the number of variables is less than the number of values, We can add an * 

to the variable name and the values will be assigned to the variable as a list:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")

(P, Q, *R ) = MSC_Stu_Name 

print(P)
print(Q)
print(R)

X
['Y', 'Z']
Z

#If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

Example
Add a list of values the "tropic" variable:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")

(P, *Q, R ) = MSC_Stu_Name 

print(P)
print(Q)
print(R)

X
['Y', 'Z']
Z

#Python - Loop Tuples

#Loop Through a Tuple
We can loop through the tuple items by using a for loop.

Example
Iterate through the items and print the values:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
for i in MSC_Stu_Name:
  print(i)

X
Y
Z
Z

#Loop Through the Index Numbers
We can also loop through the tuple items by referring to their index number.

Use the range() and len() functions to create a suitable iterable.

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
for i in range(len(MSC_Stu_Name)):
  print(MSC_Stu_Name[i])

X
Y
Z
Z

#Python - Join Tuples

#Join Two Tuples
To join two or more tuples you can use the + operator:

#Example
Join two tuples:

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#Multiply Tuples
If we want to multiply the content of a tuple a given number of times,we can use the * operator:

Example
Multiply the fruits tuple by 2:

In [ ]:
MSC_Stu_Name = ("X", "Y", "Z","Z")
mytuple = MSC_Stu_Name * 2

print(mytuple)

('X', 'Y', 'Z', 'Z', 'X', 'Y', 'Z', 'Z')

#Tuple Methods
Python has two built-in methods that you can use on tuples.

#Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found

#Python Tuple count() Method
Example
Return the number of times the value 5 appears in the tuple

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

#Python Tuple index() Method

Example
Search for the first occurrence of the value 8, and return its position:

In [ ]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)

print(x)

3

#Tuple Slicing

In [ ]:
x = (101, 102, 103, 104, 105, 106, 107)
print("Original Tuple")
n = len(x)
for i in range(n):
	print(i, "=", x[i])
print()	

print("From 1st Position to 4th Position")
a = x[1:5]
for i in a:
	print(i)
print()	
	
print("From 0th Position to last Position")
b = x[0:]
for i in b:
	print(i)
print()	
	
print("From 0th Position to 4th Position")
c = x[:5]
for i in c:
	print(i)
print()	

print("Last 4 Elements")
d = x[-4:]
for i in d:
	print(i)
print()	
	
print("From 0th Position to 6th Position stride 2")
e = x[0:7:2]
for i in e:
	print(i)
print()	
	
print("Last 5 Elements with [-5-(-3)]= 2 elements towards right")
f = x[-5:-3]
for i in f:
	print(i)

Original Tuple
0 = 101
1 = 102
2 = 103
3 = 104
4 = 105
5 = 106
6 = 107

From 1st Position to 4th Position
102
103
104
105

From 0th Position to last Position
101
102
103
104
105
106
107

From 0th Position to 4th Position
101
102
103
104
105

Last 4 Elements
104
105
106
107

From 0th Position to 6th Position stride 2
101
103
105
107

Last 5 Elements with [-5-(-3)]= 2 elements towards right
103
104

#Tuple Concat

In [ ]:
a = (10, 20, 30)
b = (1, 2, 3)
c = (101, 102, 103)

print(a)
print(b)
print(c)

result = a + b + c

print(result)

(10, 20, 30)
(1, 2, 3)
(101, 102, 103)
(10, 20, 30, 1, 2, 3, 101, 102, 103)

#Tuple MOdified

In [ ]:
# Modifying Tuple

a = (10, 20, -50, 21.3, 'MSC(DSA)')
print(a)
print()

# Not Possible to Modify like below line
#a[1] = 40		# Show TypeError

# It is not possible to modify a tuple but we can concate or slice
# to achieve desired tuple

# By concatenation
print("Modification by Concatenation")
b = (40, 50)
tup1 = a + b
print(tup1)

print()

# By Slicing
print("Modification by Slicing")
tup2 = a[0:3]
print(tup2)

print()

# By Concatenation and Slicing
print("Modification by Concatenation and Slicing")
c = (101, 102)
s1 = a[0:2]
s2 = a[3:]
tup3 = s1+c+s2
print(tup3)

print()

(10, 20, -50, 21.3, 'MSC(DSA)')

Modification by Concatenation
(10, 20, -50, 21.3, 'MSC(DSA)', 40, 50)

Modification by Slicing
(10, 20, -50)

Modification by Concatenation and Slicing
(10, 20, 101, 102, 21.3, 'MSC(DSA)')

#Tuple Deletion

In [ ]:
# Deleting Tuple

a = (10, 20, -50, 21.3, 'MSC(DSA)')
print(a)
print()

# Not Possible to delete one element like below line
#del a[1] 		# Show TypeError

# We can delete entire tuple
#del a

#print(a)		# after deleting entire tuple a become undefined

# It is not possible to delete one element but we can concate or slice
# to achieve desired tuple

print()

# By Slicing
print("Deletion by Slicing")
tup1 = a[0:3]
print(tup1)

print()

# By Concatenation and Slicing
print("Deletion by Slicing and Concatenation")
s1 = a[0:2]
s2 = a[4:]
tup2 = s1+s2
print(tup2)

print()

#Getting Input From User

In [ ]:
# Getting input from users - Tuple
a = []

n = int(input("Enter Number of Elements: "))

for i in range(n):
	a.append(int(input("Enter Element:")))

print(type(a))
# convert list to tuple 
a = tuple(a)

print(type(a))
print("Tuple:")
for element in a:
	print(element)

#Tuple Repetation

In [ ]:
a = (1, 2, 3)

print(a)

result = a * 3

print(result)

(1, 2, 3)
(1, 2, 3, 1, 2, 3, 1, 2, 3)

#Tuple Aliasing

In [ ]:
a = (10, 20, 30, 40, 50)
b = a
print("A:", a)
print("B:", b)
print("Id of A:", id(a))
print("Id of B:", id(b))

print()
a = a[:3]
print("Id of A:", id(a))
print("Id of B:", id(b))

#Tuple Copy

In [ ]:
# Copying Tuple
a = (10, 20, 30, 40, 50)
b = a
print("A:", a)
print("B:", b)
print("Id of A:", id(a))
print("Id of B:", id(b))

# if Same data then same object same id
# if data modified it creates new object new id

print()
b = a[0:5]
print("A:", a)
print("B:", b)
print("Id of A:", id(a))
print("Id of B:", id(b))

A: (10, 20, 30, 40, 50)
B: (10, 20, 30, 40, 50)
Id of A: 140116284769104
Id of B: 140116284769104

A: (10, 20, 30, 40, 50)
B: (10, 20, 30, 40, 50)
Id of A: 140116284769104
Id of B: 140116284769104

#Q.1 Write a Python program to get the 4th element and 4th element from last of a tuple form below tuple

Get an item of the tuple
tuplex = ("w", 3, "r", "e", "s", "o", "u", "r", "c", "e")

#Q.2 Write a Python program to convert a list to a tuple?

#Convert list to tuple
listx = [5, 10, 7, 4, 15, 3]

#Q.3 Write a program to unpack the following tuple into four variables and display each variable.

Given

tuple1 = (10, 20, 30, 40)

#Q.4 Write a program to Swap two tuples in Python


Given 

tuple1 = (11, 22)

tuple2 = (99, 88)

#Q.5 Write a program to copy elements 40 and 50 from the following tuple into a new tuple.

Given:

tuple1 = (10, 20, 30, 40, 50, 60)

Expected output:

tuple2: (40, 50)

#Q.6 Write a python program to Counts the number of occurrences of item 50 from a tuple

Given

tuple1 = (50, 10, 60, 70, 50)